@charset "utf-8";

@media screen and (max-width: 512px){
	#showMenuLabel{
		display: none;
	}
	
	#showMenu{
		display: initial;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		
		position: absolute;
		top: 2.0rem;
		left: 2%;
		
		width: 2rem;
		height: 2rem;
		outline: 0;
		cursor: pointer;
	}
	
	#showMenu::after{
		display: block;
		content: "\2630";
		font-size: 1.4rem;
		text-align: center;
		border-radius: 4px;
		background-color: #F4F3F1;
		border: 1px solid black;
		width: 2rem;
		height: 2rem;
		padding: 0 0.1rem;
	}
	
	#showMenu:checked + ul{
		height: 11.5rem;
	}
	
	nav ul {
		height: 0;
		transition-property: height;
		transition-duration: 500ms;
	}
	nav ul li{
		float: none;
		margin: 0 auto;
		width: 100%;
	}
	
	nav ul li a{
		border-bottom: 1px solid black;
	}
	
	nav ul li:last-of-type a{
		border-bottom: 0;
	}
	
	article, .footerlist{
		float: none;
		width: 100%;
		margin: 2rem auto 2rem auto;
	}
	
	article::after{
		display: block;
		width: 50%;
		content: "";
		border-bottom: 1px solid #abb333;
		margin: 0 auto;
	}
	
	article:last-of-type::after{
		border-bottom: 0;
	}
	
	article img+img{
		display: none;
	}
}