@charset "utf-8";

@media screen and (max-width: 768px){
	#logo{
		float: none;
		margin: 0 auto;
	}
	
	nav{
		float: none;
		width: 100%;
		overflow:hidden;
		margin: 4% 0 2% 0;
	}
	
	nav ul li a{
		font-size: 0.85rem;
		padding: 1rem;
	}
	
	header{
		display: initial;
	}
	
	#pullquote{
		width: 100%;
		margin-bottom: 2%;
		padding: 4% 2%;
	}
	
	#pullquote h2{
		font-size: 1.1rem;
	}
	
	#pullquote p{
		font-size: 0.85rem;
		line-height: 1.8;
		max-width: 512px;
		margin: 0 auto;
	}
	
	#slideshow{
		width: 100%;
		height: 40vw;
	}
	
	article p{
		font-size: 0.85rem;
		padding: 0 4%;
		line-height: 1.8;
	}
}