@charset "utf-8";

* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	background-color:#d3cec8;
	font-family:Arial, sans-serif;
}

a {
	text-decoration:none;
	color:#6C7022;	
}

a:hover {
	color:rgba(0,0,0,1.00);
}

#container {
	background-color:#fff;
	min-width: 320px;
	max-width: 980px;
	padding: 2%;
	box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
	margin:0 auto;
	overflow:hidden;
}

#logo {
	float:left;
	width: 32%;
	margin: 0 2% 2% 0;
	min-width: 200px;
	font-size: 0;
}

#logo img{
	width: 100%;
	height: auto;
}

/* nav */

nav {
	float:right;
	width: 66%;
	background-color:#f4f3f1;
	margin:5.2% 0 2% 0;
}

nav ul li {
	float: left;
	width: 25%;
}

nav ul li a {
	text-decoration:none;
	color:#000;
	font-size:1rem;
	padding: 8.4%;
	display:block;
	text-align: center;
}

nav ul li a:hover {
	background-color:#000;
	color:#fff;
}

#showMenuLabel,
#showMenu{
	display: none;
}

/* header */
header {
	display: flex;
	clear:both;
	overflow:hidden;
}

#pullquote {
	width: 32%;
	margin-right: 2%;
	background-color:#abb333;
	padding:1rem;
	text-align:center;
	color:#fff;
}

#pullquote h2 {
	font-weight:bold;
	font-size:1.5rem;
	margin-bottom: 1rem;
	line-height:1.4;	
}

#pullquote p {
	font-size:1.1rem;
	line-height:1.5;
}

#slideshow {
	width:66%;
	min-height: 240px;
	font-size: 0;
	background-image: url('../images/mainimg.jpg');
	background-size: cover;
	background-position: right top;
	background-repeat: no-repeat;
}

/* articles */

article,
.footerlist {
	text-align:center;
	width: 32%;
	float:left;	
	margin: 2% 0;
}

article:nth-of-type(2),
.footerlist:nth-of-type(2){
	margin: 2%;
}
	
article img+img{
	width: 100%;
	height: auto;
}

article h2 {
	font-size:1.2rem;
	font-weight:bold;
	line-height:1.5;
	margin-top:1rem;	
}

article p {
	font-size:1rem;
	line-height:1.5;
	color:#abb333;
	margin-top:0.5rem;
	margin-bottom:1rem;	
}

.cta {
	clear:both;
	background-color:#f4f3f1;
	margin-bottom: 2%;
	text-align:center;
	padding: 1rem;
	font-style:italic;
	color:#0d8418;
}





/* footer */
.footerlist li {
	font-size:0.85rem;
	line-height:1.8;
	color:#abb333;	
}

